*target
*.iml
*.ids
*.ipr
*.iws
*.patch
*.jar
classes/
*lib_managed/
*src_managed/
*project/boot/
*.project
*.classpath
*db-1.log
*db.data
*db.redo
*/.settings/*
.settings/*
*BACKUP*
*BASE*
*REMOTE*
*.orig
*velocity.log
.idea/
*~
.DS_Store